<div>Ваш статус: админ</div>
        <div>
            <ul class="df-tabs">
                <li class="selected" data-tab="roles">РОЛИ</li>
                <li data-tab="templates">ШАБЛОНЫ</li>
            </ul>
        </div>
        <!--ROLES-->
        <div class="df-tab-content" data-tab="roles">
            <img src="/wa-apps/docflow/img/plus.png" class="df-add" data-tab="roles">
            <div class="df-content-all-roles"></div>
        </div>

        <div class="popup-df-content-add-roles" style="display: none">
            <div>
                <div class="text_name">Название</div>
                <input type="text" class="input_name" data-attr="roles">
            </div>
            <div style="margin-top: 1em; margin-bottom: 1em; text-align: center;">ВЫБЕРИТЕ ПРАВА</div>
            <div>
                <input type="checkbox" data-attr="read_roles">
                <span>ПРОСМОТР</span>
            </div>
            <input type="checkbox" data-attr="edit_roles">
            <span>РЕДАКТИРОВАНИЕ</span>
            <div>
                <input type="checkbox" data-attr="add_roles">
                <span>СОЗДАНИЕ</span>
            </div>
            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="roles">СОЗДАТЬ РОЛЬ</div>
            </div>
            <div class="error_message" data-attr="add-roles"></div>
            <div class="b-close"></div>
        </div>

        <!--TEMPLATES-->
        <div class="df-tab-content" data-tab="templates" style="display: none">
            <img src="/wa-apps/docflow/img/plus.png" class="df-add" data-tab="templates">
            <div class="df-content-all-templates"></div>
        </div>

        <div class="popup-df-content-add-templates" style="display: none">
            <div>
                <div class="text_name">Название</div>
                <input type="text" class="input_name" data-attr="templates_name">
            </div>
            <div class="list_roles_for_templates"></div>
            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="templates">СОЗДАТЬ ШАБЛОН</div>
            </div>
            <div class="error_message" data-attr="add-templates"></div>
            <div class="b-close"></div>
        </div>

        <div class="popup-df-template-more"></div>