/*ADMIN*/
.df-admin-tabs,
.df-manager-tabs,
.df-tabs
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 5px;
    background: white;
    color: #393939;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    font-size: 0;
    margin-top: 10px;
}

.df-tab-content
{
    padding: 0.5em;
    position: relative;
    min-height: 5em;
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #ddd;
}

.preloader
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    text-align: center;
}

.df-admin-tabs li.selected,
.df-manager-tabs li.selected,
.df-tabs li.selected {
    background: #ba0021;
    color: white;
}

.df-admin-tabs li,
.df-manager-tabs li,
.df-tabs li {
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
}

.logout
{
    font-size: 23px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    background: #ba0021;
    color: white;
    cursor: pointer;
}

.df-add,
.df-add-role-to-template
{
    position: absolute;
    top: 0.5em;
    right: 1em;
}



.df-add:hover,
.df-add-role-to-template:hover
{
    cursor: pointer;
    transform: rotate(45deg);
}

.popup-df-content-add-roles,
.popup-df-content-add-users,
.popup-df-content-add-templates,
.popup-df-content-add-routes,
.popup-df-template-more,
.popup-df-route-more
{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
    min-height: 250px;
}

.text_name
{
    text-align: center;
    font-size: 20px;
}

.input_name
{
    margin-top: 0.5em;
    width: 100%;
    font-size: 20px;
}

.enter_form
{
    cursor: pointer;
    padding: 0.5em;
    background: #ba0021;
    color: white;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.error_message
{
    text-align: center;
    margin-top: 0.5em;
    color: #c49494;
}

.choose_user,
.choose_roles,
.choose_template
{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.list_roles_for_templates .choose_roles,
.list_roles_for_routes .choose_user
{
    margin-top: 0.5em;
}

.df-block-choose-roles
{
    position: relative;
}
.table_roles
{
    text-align: center;
    border: solid 1px black;
    display: inline-block;
    width: 20%;
    line-height: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.table_routes,
.table_templates
{
    width: 70%;
    border: solid 1px black;
    display: inline-block;
    line-height: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.table_route,
.table_template
{
    width: 45%;
    text-align: center;
    display: inline-block;
}
.more_route,
.more_template
{
    cursor: pointer;
    padding: 0.4em;
    background: #ba0021;
    color: white;
    border-radius: 10px;
}
.box_role_data
{
    font-size: 20px;
    margin-top: 0.5em;
}