<!--<div>login.html</div>-->
<div class="main_box_login">
    <div>Login</div>
    <input class="login" type="text">
    <div>Password</div>
    <input class="password" type="password" autocomplete="off">
    <div>
        <button class="enter">Выполнить вход</button>
    </div>
    <div class="message" style="display: none"></div>
</div>
<script>

    $('.enter').click(function () {
        var login = $('.login').val();
        var password = $('.password').val();
        $.ajax({
            type: "POST",
            url: '/auth/',
            data: "login="+login+"&password="+password,
            async: false,
            success: function(data){
                if(data['data']['result'] == 1)
                {
                    //window.location.replace("http://multimedia.therealeffingdeal.ru/");
                    window.location.replace("/");
                }
                else
                {
                    $(".message").html(data['data']['message']);
                    $(".message").show();
                }
                console.log(data['data']);
            }
        });
    });

    //    const error = "{$error}";
</script>
<!--
<script type="text/babel" src="{$wa_app_static_url}js/login.js"></script>
-->
