<!--<div>main.html</div>-->
<div>
    <h1>Добро пожаловать в систему, {$contact_data['login']}</h1>
</div>

<div style="position: relative">
    <div class="preloader">
        <img src="{$wa_static_url}wa-apps/docflow/img/preloader128.gif" >
    </div>

    <!--ADMIN-->
    {if $contact_data['status'] == "admin"}
        <div class="admin"></div>

    {/if}

    <!--MANAGER-->
    {if $contact_data['status'] == "manager"}
		<div class="manager"></div>
    {/if} 

    {if $contact_data['status'] == "user"}
        <div class="user"></div>
    {/if}
</div>

<div class="logout">Завершить работу</div>

<script>

    /*B-POPUP*/
    /*MORE*/
    $('html').on('click', ".more_template", function () {
        var attr = $(this).attr("data-id");
        $('.popup-df-template-more').html("");
        $('.popup-df-template-more').bPopup({
            speed: 450,
            transition: 'slideDown',
            transitionClose: 'slideDown'
        });
        $.ajax({
            type: "POST",
            url: '/get_more_template/',
            async: true,
            data: "id=" + attr,
            success: function (data) {
                console.log(data['data']['arr_roles_name'][0]);
                $(".popup-df-template-more").append("<div class='text_name'> Название: "+data['data']['name']+"</div><div class='text_name' style='margin-top: 1em;'>Список ролей</div>");
                for (var i = 0; i < data['data']['arr_roles_name'].length; i++) {
                    $(".popup-df-template-more").append("<div class='box_role_data'><span style='margin-right: 1.5em;'>"+parseInt(i+1)+"</span><span>" + data['data']['arr_roles_name'][i] + "</span></div>");
                }
            }
        });
    })

    $('html').on('click', ".more_route", function () {
        var attr = $(this).attr("data-id");
        $('.popup-df-route-more').html("");
        $('.popup-df-route-more').bPopup({
            speed: 450,
            transition: 'slideDown',
            transitionClose: 'slideDown'
        });
        $.ajax({
            type: "POST",
            url: '/get_more_route/',
            async: true,
            data: "id=" + attr,
            success: function (data) {
                console.log(data);
                $(".popup-df-route-more").append("<div class='text_name'> Название маршрута: "+data['data']['name_route']+"</div>" +
                    "<div class='text_name' style='margin-top: 1em;> Название шаблона: "+data['data']['name_template']+"</div>" +
                    "<div class='text_name' style='margin-top: 1em;'>Список пользователей</div>");
                for (var i = 0; i < data['data']['arr_users_name'].length; i++) {
                    $(".popup-df-route-more").append("<div class='box_role_data'><span style='margin-right: 1.5em;'>"+parseInt(i+1)+"</span><span>" + data['data']['arr_users_name'][i] + "</span></div>");
                }
            }
        });
    })

    /*ADD*/
    $('html').on('click', ".df-add", function () {
        $('.popup-df-content-add-'+$(this).attr("data-tab")).bPopup({
            speed: 450,
            transition: 'slideDown',
            transitionClose: 'slideDown'
        });
        $(".error_message[data-attr='add-"+$(this).attr("data-tab")+"']").html("");
        switch($(this).attr("data-tab")) {
            case "users": {
                $(".choose_roles").html("");
                $.ajax({
                    type: "POST",
                    url: '/get_roles/',
                    async: true,
                    success: function (data) {
                        $(".popup-df-content-add-users .choose_roles").append("<option value='0'>нет</option>");
                        for (var i = 0; i < data['data']['message'].length; i++) {
                            $(".choose_roles").append("<option value='" + data['data']['message'][i]['id'] + "'>" + data['data']['message'][i]['name'] + "</option>");
                        }
                    }
                });
                break;
            }
            case "templates": {
                $('.list_roles_for_templates').html("");
                $.ajax({
                    type: "POST",
                    url: '/get_first_roles/',
                    async: true,
                    success: function (data) {
                        $(".list_roles_for_templates").append("<div class='df-block-choose-roles' data-count='0'>"+
                            "<div style='display: inline-block; margin-right: 1em'>1</div>" +
                            "<select data-count='0' class='choose_roles' style='width: 50%'></select>" +
                            "<img src='{$wa_static_url}wa-apps/docflow/img/plus.png' class='df-add-role-to-template' data-count='0'>"+
                            "</div>");
                        $(".list_roles_for_templates .choose_roles").append("<option value='0'>нет</option>");
                        for (var i = 0; i < data['data']['message'].length; i++) {
                            $(".list_roles_for_templates .choose_roles").append("<option value='" + data['data']['message'][i]['id'] + "'>" + data['data']['message'][i]['name'] + "</option>");
                        }
                    }
                    });
                break;
            }
            case "routes":{
                $(".popup-df-content-add-routes .input_name[data-attr='routes_name']").val("");
                $(".popup-df-content-add-routes .list_users").html("");
                $(".popup-df-content-add-routes .choose_template").html("");
                $.ajax({
                    type: "POST",
                    url: '/get_templates/',
                    async: true,
                    success: function (data) {
                        console.log(data);
                        $(".popup-df-content-add-routes .choose_template").append("<option value='0'>нет</option>");
                        for (var i = 0; i < data['data']['message'].length; i++) {
                            $(".choose_template").append("<option value='" + data['data']['message'][i]['id'] + "'>" + data['data']['message'][i]['name'] + "</option>");
                        }
                    }
                });
                break;
            }
        }
    });

    /*FIRST LOAD*/
    var base_attr = "";
    var status = "{$contact_data['status']}";
    if(status == "admin") {
		$(".admin").load("{$wa_theme_url}admin.html"); 
        base_attr = "roles";
    }
    else
    if(status == "manager")
    {
		$(".manager").load("{$wa_theme_url}manager.html"); 
        base_attr = "users";
    }
    if(status == "user")
    {
		$(".user").load("{$wa_theme_url}user.html"); 
        base_attr = "add-docs";
    }
    loadData(base_attr);

</script>