        <div>Ваш статус: менеджер</div>
        <div>
            <ul class="df-tabs">
                <li class="selected" data-tab="users">ПОЛЬЗОВАТЕЛИ</li>
                <li data-tab="routes">МАРШРУТЫ</li>
                <li data-tab="docs">ДОКУМЕНТЫ</li>
            </ul>
        </div>

        <!--USERS-->
        <div class="df-tab-content" data-tab="users">
            <img src="/wa-apps/docflow/img/plus.png" class="df-add" data-tab="users">
            <div class="df-content-all-users"></div>
        </div>

        <div class="popup-df-content-add-users" style="display: none">
            <div>
                <div class="text_name">Логин</div>
                <input type="text" class="input_name" data-attr="login">
            </div>
            <div style="margin-top: 0.5em">
                <div class="text_name">Пароль</div>
                <input type="text" class="input_name" data-attr="password">
            </div>
            <div style="margin-top: 1em; margin-bottom: 1em; text-align: center;">ВЫБЕРИТЕ РОЛЬ</div>
            <div>
                <select class="choose_roles">
                    <!--<option data-attr="0">НЕТ</option>-->

                </select>
            </div>

            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="users">СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ</div>
            </div>
            <div class="error_message" data-attr="add-users"></div>
            <div class="b-close"></div>
        </div>

        <!--ROUTES-->
        <div class="df-tab-content" data-tab="routes" style="display: none">
            <img src="/wa-apps/docflow/img/plus.png" class="df-add" data-tab="routes">
            <div class="df-content-all-routes"></div>
        </div>

        <div class="popup-df-content-add-routes" style="display: none">
            <div>
                <div class="text_name">Название</div>
                <input type="text" class="input_name" data-attr="routes_name">
            </div>
            <div class="text_name" style="margin-top: 1em;">Шаблон</div>
            <div style="margin-top: 1em;">
                <select class="choose_template"></select>
            </div>
            <div class="list_users"></div>
            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="routes">СОЗДАТЬ МАРШРУТ</div>
            </div>
            <div class="error_message" data-attr="add-routes"></div>
            <div class="b-close"></div>
        </div>

        <div class="popup-df-route-more"></div>

        <!--DOCS-->
        <div class="df-tab-content" data-tab="docs" style="display: none">
            <div>Документ №1</div>
            <div>Документ №2</div>
        </div>
