<div>Ваш статус: рядовой пользователь</div>

        <div>
            <ul class="df-tabs">
                <li class="selected" data-tab="add-docs">Создать документ</li>
                <li data-tab="edit-docs">Редактировать документ</li>
            </ul>
        </div>

        <div class="df-tab-content" data-tab="add-docs">
            <div style="margin-top: 1em;">
                <div class="text_name">Название</div>
                <input type="text" class="input_name" data-attr="routes_name">
            </div>
            <div class="text_name" style="margin-top: 1em;">Маршрут</div>
            <div class="list_roles_for_routes" style="margin-top: 1em;">
                <select class="choose_routes">
                    <option>Маршрут №1</option>
                    <option>Маршрут №2</option>
                </select>
            </div>

            <div class="text_name" style="margin-top: 1em;">Документ</div>
            <textarea style="width: 100%; height: 3em; margin-top: 1em;"></textarea>

            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="templates">СОЗДАТЬ ДОКУМЕНТ</div>
            </div>
<!--
            <div class="df-content-all-docs">

            </div>
-->
        </div>

        <div class="df-tab-content" data-tab="edit-docs" style="display: none">
            <div style="margin-top: 1em;">
                <div class="text_name">Документ №1</div>
            </div>
            <div style="margin-top: 1em;">
                <div class="text_name">Изменен Василий Пупкин</div>
            </div>
            <div class="text_name" style="margin-top: 1em;">Документ</div>
            <textarea style="width: 100%; height: 3em; margin-top: 1em;">Документ №1</textarea>

            <div style="margin-top: 1.5em;">
                <div class="enter_form" data-attr="templates">ОТПРАВИТЬ НА СЛЕДУЮЩИЙ ЭТАП</div>
            </div>
        </div>