.s-grey { background: url('../img/backgrounds/grey.jpg'); }
.s-blue { background: url('../img/backgrounds/blue.jpg'); }
.s-yellow { background: url('../img/backgrounds/yellow.jpg'); }
.s-red { background: url('../img/backgrounds/red.jpg'); }
.s-green { background: url('../img/backgrounds/green.jpg'); }
.s-purple { background: url('../img/backgrounds/purple.jpg'); }

/* layout */
.s-bottom-fixed-bar { bottom: 0; float: none; height: 50px; left: 0; position: fixed; right: 0; background-color: #f7f7f7; border-top: 1px solid #ddd; z-index: 99; }
.s-bottom-fixed-bar-content-offset .block { padding: 10px 10px 0 }
.s-bottom-fixed-bar-content-offset { margin-left: 410px; }
.s-bottom-fixed-bar-content-offset.s-page-editor { margin-left: 460px; }
.s-bottom-fixed-bar-content-offset #wa-editor-status i.icon16 { margin-top: 6px; }
.s-content:before, .s-content:after { content: ""; }
.s-content:after { clear: both; }

.s-sidebar ul.menu-v li.selected a { background: rgba(0, 0, 0, 0.08); }
.s-sidebar .s-app16x16icon-menu-v { position: absolute; top: 2px; left: 4px; }

.s-grey-toolbar  ul.tabs { margin-bottom: -10px; margin-top: 20px; }
a.s-disabled { color: #aaa !important; }
a.s-settings-link { display: block; padding: 3px 0 5px; font-size: 0.8em; color: #999; text-decoration: none; }
a.s-settings-link i.icon10 { margin-top: 0; margin-right: 2px; }
a.s-settings-link:hover { color: red; }
a.s-settings-link.selected { background: #eee; }

.s-site-mgmt-tab .heading { color: #777; position: relative; }
.s-site-mgmt-tab .heading .s-site-mgmt-current-url { word-wrap: break-word; padding-right: 15px; }
.s-site-mgmt-tab .heading .count { position: absolute; right: 0; }
.s-site-mgmt-tab ul.menu-v li { margin: 0; padding-right: 4px; }
.s-site-mgmt-tab ul.menu-v li a { padding: 7px 0 6px 40px; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.s-site-mgmt-tab ul.menu-v li a:hover { background-color: rgba(231, 231, 231, 0.5); }
.s-site-mgmt-tab ul.menu-v li.selected a { padding-left: 40px; background: rgba(0, 0, 0, 0.08); margin-left: -24px; }

.s-site-mgmt-tab { background: #f6f6f6; margin: 0 -15px 0 10px; box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.1) inset, 0 2px 3px rgba(0, 0, 0, 0.2); padding-bottom: 13px; }
.s-site-mgmt-tab .s-domain {  }
.s-site-mgmt-tab .s-domain .s-domain-list { margin: 0; display: block; padding: 10px; border-bottom: 1px solid rgba(204, 204, 204, 0.2); }
.s-site-mgmt-tab .s-domain .s-domain-list .s-selected-domain-name { color: #777; font-weight: bold; text-transform: uppercase; line-height: 17px; height: 14px; overflow: hidden; position: relative; word-break: break-all; cursor: default; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-selected-domain-name .icon10.darr { position: absolute; top: 4px; right: 1px; z-index: 1080; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-selected-domain-name .shortener { -webkit-box-shadow: -25px 0 12px #f6f6f6 inset; box-shadow: -25px 0 12px #f6f6f6 inset; -moz-box-shadow: -25px 0 12px #f6f6f6 inset; -webkit-box-shadow: -25px 0 12px #f6f6f6 inset; display: block; height: 16px; position: absolute; right: 0; top: 7px; width: 33px; }
.s-site-mgmt-tab .s-domain:hover .s-domain-list .s-selected-domain-name .shortener { -webkit-box-shadow: -25px 0 12px #e5e5e5 inset; box-shadow: -25px 0 12px #e5e5e5 inset; -moz-box-shadow: -25px 0 12px #e5e5e5 inset; -webkit-box-shadow: -25px 0 12px #e5e5e5 inset; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper { width: 202px !important; max-height: 364px; overflow: auto; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item { padding: 5px; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item .s-domain-link { -webkit-transition: unset; -o-transition: unset; transition: unset; padding: 6px 0 6px 28px; line-height: 17px; height: 14px; overflow: hidden; position: relative; word-break: break-all; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item .s-domain-link .shortener { -webkit-box-shadow: -25px 0 12px #fff inset; box-shadow: -25px 0 12px #fff inset; -moz-box-shadow: -25px 0 12px #fff inset; -webkit-box-shadow: -25px 0 12px #fff inset; display: block; height: 16px; position: absolute; right: 0; top: 7px; width: 33px; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item .s-domain-link:hover .shortener { -webkit-box-shadow: -25px 0 12px #eaeaea inset; box-shadow: -25px 0 12px #eaeaea inset; -moz-box-shadow: -25px 0 12px #eaeaea inset; -webkit-box-shadow: -25px 0 12px #eaeaea inset; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item.active { background-color: #f6f6f6; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item.active .s-domain-link { color: #000; }
.s-site-mgmt-tab .s-domain .s-domain-list .s-domain-list-wrapper .s-domain-list-item.active .shortener { -webkit-box-shadow: -25px 0 12px #f6f6f6 inset; box-shadow: -25px 0 12px #f6f6f6 inset; -moz-box-shadow: -25px 0 12px #f6f6f6 inset; -webkit-box-shadow: -25px 0 12px #f6f6f6 inset; }

.s-add-site-block { margin: 14px 20px 27px 16px; }

.s-system-block { padding: 4px 0 10px 16px; margin-right: -11px; }
.s-system-block .selected { font-weight: bold; }

ul.menu-v.with-icons li a { word-break: break-all; position: relative; }

.dialog-background { z-index: 1054; }
.dialog-window { z-index: 1055 /* redactor editor z-index */; }
.dialog .ace { padding: 15px 12px; }

/* content part */
.s-content { margin-bottom: 70px !important; }
.s-content .s-editor { background: #eee; zoom:1; }
.s-content .s-editor .s-cdn-item { width: 240px; margin-bottom: 10px; }
.s-content .s-editor .s-cdn-item:hover > .s-cdn-remove { opacity: 1; }
.s-content .s-editor .s-cdn-item .s-cdn-remove { margin: 6px 0 0 4px; cursor: pointer; opacity: 0.1; -webkit-transition: opacity 200ms linear; -moz-transition: opacity 200ms linear; -o-transition: opacity 200ms linear; -ms-transition: opacity 200ms linear; transition: opacity 200ms linear; }
.s-content .s-editor .s-cdn-item .s-cdn-input {  }
.s-content .s-editor .s-cdn-add { display: inline-block; margin-bottom: 6px; }
.s-content .s-editor.s-editor-shadow {-moz-box-shadow:0 5px 3px #d9d9d9 inset; -webkit-box-shadow:0 5px 3px #d9d9d9 inset;  box-shadow:0 5px 3px #d9d9d9 inset; }
.s-content .s-editor-core-wrapper { background: #fff; }
.s-content .s-editor textarea.s-editor-core { width: 100%; min-height: 400px; HEIGHT: 800px; margin: 0; border: 0; }
.s-content .s-editor input.s-page-title { font-size: 1.8em; font-weight: bold; font-family: Helvetica, Arial, sans-serif; width: 75%; margin-bottom: 5px; }
.s-content .s-editor textarea.s-editor-core:focus { outline: none;}
.s-content .s-editor ul.s-page-status ul.menu-v { min-width: 250px; }
.s-content .s-editor ul.s-page-status li.s-page-preview { min-width: 450px; }
.s-content .s-editor ul.s-page-status li.s-page-preview a { display: inline; text-decoration: underline; }
.s-content .s-editor ul.s-page-status li.s-page-preview a.inline-link { color: #03c; }
.s-content .s-editor ul.s-page-status li.s-page-preview a.inline-link:hover { color: red; }
.s-content .s-editor .s-overhanging-amp { position: absolute; left: -1em; top: 5px; }
.s-content .s-editor a.s-delete { color: red; margin-left: 10px; }
.s-content .s-editor h4 { font-size: 1.3em; }
.s-content .s-editor .s-block-code { color: #555; }
.s-content .s-app-settings { /* border-left: 1px solid #ccc; */ background: #fff; zoom:1; }
.s-content .s-app-settings .hr { margin: 0; }
.s-content .s-app-settings .heading { margin-bottom: 20px; }
.s-content .s-page-urls { margin-bottom: 2px; }
.s-content .wa-page-app-url { }
.s-content .wa-page-app-url.gray { color: #AAA; }
.s-content .wa-page-app-url.s-disabled,
.s-content .wa-page-app-url.s-disabled input { color: #aaa; }
.s-content .wa-page-app-url img { position: relative; top: 2px; margin-left: 2px; }
.s-content .wa-page-wysiwyg-html-toggle { margin-right: 17px; margin-top: -20px; float: right; margin-bottom:0 }
.s-content .wa-page-wysiwyg-html-toggle li { list-style: none; float: left; }
.s-content .wa-page-wysiwyg-html-toggle li a { display: block; color: #888; font-weight: bold; padding: 4px 12px 6px; text-decoration: none; font-size: 0.9em; }
.s-content .wa-page-wysiwyg-html-toggle li.selected a { background: #fff; }
.s-content ul.menu-v li.selected a { background: #eaeaea; }
.s-content .wa-theme-routes span.hint a { word-wrap: break-word; }
.s-content h4.heading { word-wrap: break-word; word-break: break-all; margin-right: 15px; }
.s-content h4.heading span.count { /*position: absolute;*/ right: -15px; }
.s-content p i.icon10.top-padded { margin-top: 5px; }

.fields .s-app16x16icon-menu-v { position: relative; top: 3px; left: -5px; }

/* app design editor header */

.s-core-app-name { margin: 0; padding: 15px 15px 5px 45px; }
.s-core-app-name h2.s-short-header { line-height: 0.9em; vertical-align: top; min-width: 166px; font-weight: normal; font-size: 1.3em; }
.s-core-app-name h2.s-short-header img { float: left; margin: 0px 7px 0 -33px; width: 24px; height: 24px; vertical-align: middle;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.s-core-app-name h2.s-short-header .hint { font-size: 0.66em; }

/* internal sidebar: files, folders, snippets, pages, and other lists */

.s-internal-sidebar { padding-bottom: 10px; }
.s-internal-sidebar.s-sidebar-shadow { -moz-box-shadow:0 5px 3px #DEDEDE inset; -webkit-box-shadow:0 5px 3px #DEDEDE inset;  box-shadow:0 5px 3px #DEDEDE inset; }
.s-internal-sidebar .s-theme-block { margin-top: 20px; }
.s-internal-sidebar ul.menu-v.with-icons .s-app16x16icon-menu-v { position: absolute; left: 7px; top: 3px; }
.s-internal-sidebar ul.menu-v.with-icons { padding:0 5px 0 3px; margin-top: 7px;}
.s-internal-sidebar ul.menu-v.with-icons li { padding: 4px 2px 4px 24px;}
.s-internal-sidebar ul.menu-v.with-icons li a b { display: inline-block; max-width: 120px; font-weight: normal; overflow: hidden;vertical-align: top;}
.s-internal-sidebar ul.menu-v.with-icons li ul li a b { max-width: 138px;}
.s-internal-sidebar ul.menu-v.with-icons li ul li ul li a b { max-width: 82px;}
.s-internal-sidebar ul.menu-v.with-icons li ul li ul li ul li a b { max-width: 60px;}
.s-internal-sidebar ul.menu-v.with-icons a { padding-left: 33px;}
.s-internal-sidebar ul.menu-v.with-icons.s-folderlist a {padding-left: 23px;}
.s-internal-sidebar ul.menu-v.with-icons li.selected a { background: #e7e7e7; }
.s-internal-sidebar ul.menu-v.with-icons li.selected ul.menu-v li a { background: #f7f7f7; }
.s-internal-sidebar .heading a.s-theme-preview i.icon16 { margin-left: 0; }
.s-internal-sidebar ul.menu-v.with-icons i.icon16.overhanging { margin-left: -20px; margin-right: 4px;}
.s-internal-sidebar h4 { margin: 10px 10px 0;}
.s-site-not-settled { background: url('../../wa-content/img/recovery-mode-background.png'); }
.s-site-not-settled span { background: #ff0; font-weight: bold; line-height: 1.2em; }

.s-routing-header { border-bottom: 1px solid #ccc; padding-left: 19px;}
table.s-settings-apps { margin-top: 10px; }
table.s-routing #s-routing-addrule { display: none; }
table.s-routing .s-inc:not(.is-exclamation) .s-exclamation { display: none; }
table.s-routing .s-inc.is-exclamation { color: #aaa; }
table.s-routing .s-inc.is-exclamation .s-domain-url,
table.s-routing .s-inc.is-exclamation .s-editable-url { color: inherit; text-decoration: line-through; }
table.s-routing td.s-url { padding-left: 19px; width: 50%; }
table.s-routing td.s-url span { color: #aaa; }
table.s-routing td.s-url span.s-editable-url { color: #000; word-break: break-all; }
table.s-routing td.s-url input { width: 100px; }
table.s-routing td.s-app { vertical-align: middle; padding-top: 10px; min-width: 100px; }
table.s-routing td.s-app img { float: left; top: 5px; width: 24px; height: 24px; margin-right: 6px; margin-top: -6px; }
table.s-routing td.s-app select { overflow: hidden; }

/*
table.s-routing td.s-actions, table.s-settings-apps td.s-actions { text-align: right; width: 1%; white-space: nowrap; }
table.s-routing td.s-actions a, table.s-settings-apps td.s-actions a { display: none; }
table.s-routing tr:hover td.s-actions a, table.s-settings-apps tr:hover td.s-actions a { display: inline; }
*/

table.s-routing td a.s-route-action { width: 1%; white-space: nowrap; display: none; }
table.s-routing tr:hover { cursor: pointer; }
table.s-routing tr:hover td a.s-route-action { display: inline; }

table.s-routing.s-routing-minimized tr td.s-app { display: none; }
table.s-routing.s-routing-minimized tr td i.sort {display: none; }
table.s-routing.s-routing-minimized tr td.s-actions { width: 10%; }
table.s-routing.s-routing-minimized tr td.s-actions input { display: none; }
table.s-routing.s-routing-minimized tr.selected td.s-url { font-weight: normal; }
table.s-routing.s-routing-minimized tr:hover { cursor: default; }
table.s-routing.s-routing-minimized tr:hover td a.s-route-action { display: none; }

table.s-settings-apps td.s-app { vertical-align: middle; width: 230px; }
#s-apps-add { margin-left: 5px; }

.s-route { width: 100%; }
.s-route .name { width: 210px; }
.s-route .value { margin-left: 230px; }

.s-route-core { background: #f3f3f3; }
.s-route-core .s-route-block { margin-bottom: 0; display: inline-block; }
.s-route-core .s-route-block#s-route-what { min-width: 160px; margin-right: 3px; }
.s-route-core .s-redirect-comment { margin-top: 11px; }
.s-route-core .s-redirect-comment .hint { margin-bottom: 4px; }
.s-route-core .s-redirect-comment .s-comment { width: 303px; font-weight: normal; font-size: 15px; }
.s-route-core a.back { background: #e3e3e3; top: -2px; }
.s-route-core img { width: 24px; height: 24px; margin-left: 6px; margin-right: 4px; position: relative; top: 4px; }
.s-route-core h3 {font-size: 1.3em; display: inline-block; float: left\9; color: #000; }
.s-route-core select { position: relative; }
.s-route-core .s-route-block#s-route-where input { max-width: 160px; margin-right: 5px; }
.s-route-core .s-route-block#s-route-to input { min-width: 300px; }

/* settings */

ul.menu-h.s-site-background-selector li { margin-bottom: 5px; }
ul.menu-h.s-site-background-selector li a { padding: 8px 10px; display: inline-block; border: 1px solid #aaa; }
ul.menu-h.s-site-background-selector li.s-white a { background: #fff; border: 1px solid #ccc; }
a.s-apps-edit, a.s-apps-delete { display: inline !important; }

img.s-touchicon { max-width: 152px; max-height: 152px; }

/* files */

.s-content .s-editor.s-white { background: #fff;}
.s-grey-toolbar { background: #eee; padding-left: 15px; }
.s-files-baseurl { padding: 13px 10px 0; }
.s-files-baseurl a.s-baseurl { text-decoration: none; padding: 5px; }
.s-files-baseurl a.selected { background: #e7e7e7; }
.s-files-path-to-folder { color: #aaa; }
.s-internal-sidebar .hierarchical { padding-left: 10px;}
ul.s-folderlist a { font-size: 0.9em; padding-left: 23px; }
ul.s-filelist-actions-menu { margin-top: 10px; margin-left: -5px; }

table.s-filelist tr a i.s-file-actions { background-position: 10px 10px; }
table.s-filelist tr a:hover i.s-file-actions { background-position:-10px 0; }
div.s-pagination {margin-top: 20px; padding-bottom: 20px}

table.s-filelist ul.menu-h.dropdown li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.menu-h.dropdown.s-filelist-actions-menu li ul.menu-v { min-width: 190px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
table.zebra.s-filelist ul.menu-h.dropdown li ul li a { display: inline; white-space: nowrap; }
table.s-filelist ul.menu-v { min-width: 400px; font-size: 1.0em; width: inherit !important;}

table.zebra.s-filelist .icon10.new-window { margin-left: .25em;}

/* misc */

.wa-page-gray { color: #aaa; }
.s-draft { background: #ccc; color: #fff; font-weight: bold; font-size: 0.8em; padding: 0 2px; }
.s-label-with-check { display: block; padding:0 0 0.5em 0;}
.s-label-with-check input { vertical-align: middle; margin: 0 3px 0 0;}
.s-ibutton-checkbox ul.menu-h li { padding: 1px 0 10px; vertical-align: middle;}
.s-ibutton-checkbox ul.menu-h li span { position: relative; }
.s-app16x16icon-menu-v { width: 16px; height: 16px; }

/* themes */

.s-theme-app-list ul.menu-v.with-icons li { margin: 3px 3px 5px -1px; }
.s-theme-app-list ul.menu-v.with-icons li a { padding-left: 26px; padding-top: 7px; padding-bottom: 7px; }
.s-theme-app-list .s-app16x16icon-menu-v { width: 16px; height: 16px; left:6px; position:absolute; top:4px; }
.s-themes { border-left: 1px solid #ccc; background: #fff; }
.s-themes table { margin: 0; border: 0; width: 100%;}
.s-themes table td { padding: 20px 5px; vertical-align: middle; border-top: 0; text-align: center; background: #fff; border-bottom: 1px solid #ddd; width: 15%; }
.s-themes table td a { font-size: 0.9em; }
.s-themes table td.s-theme-name { line-height: 1.1em; vertical-align: top; text-align: left; padding-left: 20px; width: 40%; }
.s-themes table td.s-theme-name h5 { font-size: 1.1em; margin: 0; }
.s-themes table td.s-theme-name h5 i.icon10 { margin-top: 4px; }
.s-themes table td.s-theme-name a { padding: 1px 2px; font-weight: normal; font-size: 0.8em; }
.s-themes table td.s-theme-name a.s-theme-yellow-label { color: #555; font-style: italic; background: #ffc; font-weight: bold; text-decoration: none; }
.s-themes table td.s-theme-name p { margin-top: 10px; margin-bottom: 0; }
.s-themes table td.min-width { width: 5%; }
.s-themes table ul.menu-h.dropdown ul.menu-v { right: 0; width: 200px; left: auto; }
.s-themes table ul.menu-h.dropdown li span.hint { font-size: 1em; }
#s-upload-link { display: block; }

li.inherit a {color: #999}
li.error a {color: red}

/* personal */

.s-personal h1 { margin-bottom: 0.8em; }
.s-personal .s-auth-content { overflow: visible; }
.s-personal .s-auth-content .tabs { margin-left: 0; }
.s-personal .s-auth-content .tab-content { margin-left: -20px; margin-right: -10px; padding-left: 20px; padding-right: 20px; }
.s-auth-host-app { margin-left: 2px; }
.s-personal-structure { margin-bottom: 0 !important; margin-top: 0 !important; }
.s-personal-structure li { margin: 0 !important; padding-right: 0 !important; padding-left: 20px !important; }
.s-personal-structure li a { line-height: 1.3em; border-top: 1px solid transparent; border-bottom: 1px solid #ddd; padding: 12px 30px 10px !important; word-break: none; white-space: nowrap; overflow: hidden; }
.s-personal-structure li img { float: left; margin-left: -23px; margin-right: 4px; vertical-align: middle; width: 16px; height: 16px; }
.s-personal-structure li .s-onoff { position: relative; right: -30px; float: right; /* min-width: 20px; */ background: #f7f7f7; top: 2px; padding: 0 5px 0 7px; }
.s-personal-structure li .s-onoff i.icon10 { margin-left: 0; }
.s-personal-structure li .s-onoff i.icon16.sort { display: none; margin-left: 0; }
.s-personal-structure li:hover .s-onoff i.icon16.sort { display: inline-block; }
/* .s-personal-structure li:hover .s-onoff i.icon10.status-green { display: none; } */
.s-personal-structure li.selected a { border-top: 1px solid #ddd; }
.s-personal-structure li.selected .s-onoff { background: #e7e7e7; }
.s-personal-field-list { margin-top: 10px; max-width: 30%; }
.s-personal-field-list label { display: block; margin-bottom: 10px; white-space: normal; word-wrap: break-word; }
.s-configure-app-div { padding: 20px; background: #f3f3ee; margin-bottom: 20px; }

/* indicator */

.error-domain-icon, .error-structure-icon { position: absolute; right: 4px; top: 7px; font-style: normal; z-index: 20; }
.error-domain-icon.hide {display: none !important;}

/* ***************************** ************************** */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}
.s-layout {
    display: table;
    width: 100%;
}
.s-layout.inline {
    width: auto;
}
.s-layout.fixed {
    table-layout: fixed;
}
.s-layout > .s-column {
    display: table-cell;
    vertical-align: top;
}
.s-layout > .s-column.middle {
    vertical-align: middle;
}
.s-layout > .s-column.center {
    text-align: center;
}
.s-layout > .s-column.right {
    text-align: right;
}
.s-system-settings-page > .c-layout {
    table-layout: fixed;
}
.s-system-settings-page .sidebar,
.s-system-settings-page .content {
    float: none;
}
.s-system-settings-page .s-page-header {
    margin: 0 0 16px;
}
.s-system-settings-page .s-page-header:first-child {
    margin-top: 0;
}
.s-system-settings-page .s-page-header:last-child {
    margin-bottom: 0;
}
.s-system-settings-page .s-error {
    color: #f00;
    min-height: 12px;
    min-width: 1px;
    display: block;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li {
    padding-bottom: 0;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li:first-child {
    margin-top: 0;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li a {
    color: #777;
    transition: 0.2s;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li a:hover {
    background-color: #fff;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li a .icon16 {
    opacity: 0.3;
    transition: opacity 200ms linear;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li.selected a {
    color: #000;
}
.s-system-settings-page .s-system-settings-sidebar .menu-v li.selected a .icon16 {
    opacity: 1;
}
.s-system-settings-page .s-system-settings-wrapper .s-description {
    color: #555;
    font-size: 15px;
    line-height: 19px;
    margin: 0 0 16px;
}
.s-system-settings-page .s-system-settings-wrapper .s-form-buttons {
    padding: 10px 0;
}
.s-system-settings-page .s-system-settings-wrapper .s-form-buttons .s-loading {
    margin: 9px 0 0 6px;
}
.s-system-settings-page .s-system-settings-wrapper .s-form-buttons .s-footer-actions.is-changed .c-hidden {
    display: inline-block;
}
.s-system-settings-page .s-system-settings-wrapper .s-form-buttons .s-footer-actions .c-hidden {
    display: none;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images {
    margin-top: 0;
    margin-left: -4px;
    padding-left: 0;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 5px 5px 0;
    padding: 0;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images li.selected > a {
    border-color: #fdda3b;
    border-radius: 4px;
    opacity: 1;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images li a {
    border: 4px solid #fff;
    display: block;
    max-height: 95px;
    max-width: 95px;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity 100ms linear;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images li a:hover {
    opacity: 0.9;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-auth-background .s-background-images li a img {
    width: 95px;
    height: 95px;
    border-radius: 2px;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-custom-background-preview .s-custom-image-preview {
    display: block;
    max-width: 360px;
    border-radius: 2px;
    margin-top: 30px;
}
.s-system-settings-page .s-general-settings-page .s-general-settings-fields-block .s-custom-background-preview .s-custom-image-params .s-image-size {
    margin-left: 5px;
}
.s-system-settings-page .s-general-settings-page .s-form-buttons {
    margin-top: 40px;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item:hover > .s-remove {
    opacity: 0.6;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item:not(:last-child) {
    border-bottom: 1px solid #888;
    margin-bottom: 20px;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item .field:first-child {
    display: inline-block;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item .s-remove {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 200ms linear;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item .s-remove:hover {
    opacity: 1;
}
.s-system-settings-page .s-email-settings-page .s-settings-items .s-item .s-dkim-field {
    margin-top: 10px;
}
.s-system-settings-page .s-email-settings-page .s-item {
    position: relative;
}
.s-system-settings-page .s-email-settings-page .s-item.js-template {
    display: none;
}
.s-system-settings-page .s-email-settings-page .s-add-item {
    display: inline-block;
    margin: 20px 0;
}
.s-system-settings-page .s-captcha-settings-page,
.s-system-settings-page .s-maps-settings-page {
    min-height: 272px;
}
@-moz-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@-o-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
